<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfSqlTest.Properties.Settings._1gb_librarysqlConnectionString"
            connectionString="Data Source=ms-sql-9.in-solve.ru;Initial Catalog=1gb_librarysql;Persist Security Info=True;User ID=1gb_samir4ik86;Password=4474zz75iw"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>